<div class="container p-5">
    <h1>Pipes</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>uppercase</td>
                <td>{{ name | uppercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>lowercase</td>
                <td>{{ name | lowercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>slice: 4</td>
                <td>{{ name | slice:4 }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>slice:0:4</td>
                <td>{{ name | slice:0:4 }}</td>
            </tr>
            <tr>
                <td>{{ numArr }}</td>
                <td>slice:1:5</td>
                <td>{{ numArr | slice:1:5 }}</td>
            </tr>
            <tr>
                <td>{{ pi }}</td>
                <td>number:'3.0-0'</td>
                <td>{{ pi | number:'3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ pi }}</td>
                <td>number:'1.0-2'</td>
                <td>{{ pi | number:'1.0-2' }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td>percent</td>
                <td>{{ a | percent }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td>percent:'2.2-2'</td>
                <td>{{ a | percent:'2.2-2' }}</td>
            </tr>
            <tr>
                <td>{{ b }}</td>
                <td>currency</td>
                <td>{{ b | currency }}</td>
            </tr>
            <tr>
                <td>{{ b }}</td>
                <td>currency:'EUR'</td>
                <td>{{ b | currency:'EUR' }}</td>
            </tr>
            <tr>
                <td>{{ b }}</td>
                <td>currency:'EUR':'code'</td>
                <td>{{ b | currency:'EUR':'code' }}</td>
            </tr>
            <tr>
                <td>{{ b }}</td>
                <td>currency:'MX':'symbol':'4.0-0'</td>
                <td>{{ b | currency:'MX':'symbol':'4.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ b }}</td>
                <td>number:'.2-2'</td>
                <td>{{ b | number:'.2-2' }}</td>
            </tr>
            <tr>
                <td>{{ promiseValue }}</td>
                <td>async</td>
                <td>{{ promiseValue | async }}</td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date</td>
                <td>{{ date | date }}</td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date:'medium'</td>
                <td>{{ date | date:'medium' }}</td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date:'MMMM - dd'</td>
                <td>{{ date | date:'MMMM - dd' }}</td>
            </tr>
            <tr>
                <td>{{ fullName }}</td>
                <td>capitalize</td>
                <td>{{ fullName | capitalize }}</td>
            </tr>
            <tr>
                <td>{{ fullName }}</td>
                <td>capitalize:false</td>
                <td>{{ fullName | capitalize:false }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>encrypt:{{ isCrypted }} <button (click)="isCrypted = !isCrypted" class="btn btn-outline-danger">Mostrar / Ocultar</button></td>
                <td>{{ name | encrypt:isCrypted }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <h4>Slice</h4>
            <ul>
                <li *ngFor="let item of numArr | slice:5:20">{{ item }}</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h4>JSON</h4>
            <pre>{{ ninja | json }}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>YouTube <small>Dynamic Video</small></h4>
            <iframe width="640" height="480" [src]="video | safedom:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>